extends template/header
block content
    .global-header
        .main-content
            .link
                a.button(href="/section", target="_self") 专题
                a.link-search(href="http://www.baidu.com/s?wd=%E7%9E%8E%E6%89%AF%20site%3Adaily.zhihu.com", title="搜索")
                    i.icon
                a.link-rss(href="/rss", title="订阅RSS")
                    i.icon
            a(href="/", target="_self", title="知乎日报")
                i.web-logo
    .main-content
        .row(style="margin-top: 47px;")
            .col-6
                h2.section-title
                    | #{section_title}
        .row.features
            - each story in storys
                .col-sm-4.col-xs-6
                    a.thumbnail(href="#{story.url}", target="_self")
                        .mask
                        img(src="#{story.image}")
                        .display_date #{story.display_date}
                        h3.title #{story.title}
    .footer
        .txt
            | #{time}ms · 内容转载自 知乎日报 ，项目开源于&nbsp;
            a(href="https://github.com/faceair/zhihudaily") Github
            | &nbsp;，感谢&nbsp;
            a(href="http://tietuku.com/") 贴图库
            | &nbsp;提供图片外链
    include template/statistics
