extends template/header
block content
    .global-header
        .main-content
            a(href="/", target="_self", title="知乎日报")
              i.web-logo
    .main-content
        .row(style="margin-top: 47px;")
            .col-6
                h2.section-title
                    | #{section_title}
        .row.features
            - each story in storys
                .col-sm-4.col-xs-6
                    a.thumbnail(href="#{story.url}")
                        .mask
                        img(src="#{story.image}")
                        .display_date #{story.display_date}
                        h3.title #{story.title}

    .footer
        .txt
            | #{time}ms · 内容转载自 知乎日报 ，项目开源于
            a(href="https://github.com/faceair/zhihudaily") Github
            | ，感谢
            a(href="http://tietuku.com/") 贴图库
            | 提供图片外链
