extends template/header
block content
    .global-header
        .main-content
            a(href="/", target="_self", title="知乎日报")
              i.web-logo
    .main-content
        .row.hidden-xs(style="margin-top: 47px;")
            .col-6
                h2.section-title
                    | #{section_title}
        .row.features.hidden-xs
            - each story in storys
                .col-sm-4
                    .feature(href="#{story.url}")
                        .mask
                        img(src="#{story.image}")
                        a(href="#{story.url}")
                            h3 #{story.title}
        .main-wrap.content-wrap.visible-xs-block
            center.p 内容没有正常显示


    .footer
        .txt
            | #{time}ms · 内容转载自 知乎日报 ，项目开源于
            a(href="https://github.com/faceair/zhihudaily") Github
            | ，感谢
            a(href="http://tietuku.com/") 贴图库
            | 提供图片外链
